.create-event-page {
  padding: 4rem 12rem;

  .container {
    .page-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .form-label {
      color: var(--dark-blue-color);
      font-weight: bold;
      font-size: 12px;
    }

    .form-control{
        height: 3rem;
    }

    .form-select{
        height: 3rem;

        option{
            height: 3rem;
        }
    }
    .submit-button {
      background-color: var(--light-blue-color);
      color: var(--white-color);
      padding: 10px;
      width: 100%;
      border-radius: 10px;
    }
  }
}
