.hero-pattern {
  background-image: url("../assets/wavy.png");
width: 80%;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
//   background-attachment: scroll;

}

