.hero-pattern {
  background-image: url("../../assets/wavy.png");
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .hero-section{
    display: flex;
  }
}
