.partners-section{
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    padding: 15rem 5rem 10rem 5rem;

    .row{
        margin: 2rem 0;
        img{
            height: 4rem;
            width: auto;
        }
    }

}